{% extends "base.html" %} {% load tailwind_filters %} {% block content %}
<style>
   body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   }
   * {
      box-sizing: border-box;
   }
   .card {
      color: white;
      float: left;
      width: calc(25% - 20px);
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
      height: 300px;
   }
   .card p {
      font-size: 18px;
   }
   .cardContainer:after {
      content: "";
      display: table;
      clear: both;
   }
   @media screen and (max-width: 600px) {
      .card {
         width: 100%;
      }
   }
</style>
<section>
<h1> These are all the blogs till now: </h1>

<div class="cardContainer">
    {% for blog in blogs %}
            {% if blog.author == request.user %}
                <a href = "{% url 'blog:update' pk=blog.id %}">
                <div class="card" style="background-color:rgb(15, 229, 22);" >   
            {% else %}
                <a href = "#">
                <div class="card" style="background-color:rgb(153, 29, 224);">
            {% endif %}
        <h1>{{blog.title}}</h1>
        <br>
        <p> {{blog.body|safe|slice:":15" }}...</p>
        <br>
        <p class="text-right">by- {{blog.author}}</p>
        {% if blog.last_updated %}
            <p class="text-right"><i>edited- </i> {{blog.last_updated}}</p>
        {% else %}
            <p class="text-right"><i>created- </i> {{blog.created_on}}</p>
        {% endif %}
        <br>
        
        {% for cat in blog.category.all %}
        <span class="text-right">{{cat}} |</span>
        
        {% endfor %}
        </div>  
        </a>
    
    {% endfor %}
</div>
{% endblock %}