{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% comment %}
    <script src="static//prod_list.js"></script>
    {% endcomment %} {% comment %}
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>

    {% endcomment %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        /*background-color: rgba(249, 249, 250, 0.795);
         color: White; */
      }
    </style>
    <style>
      body {
        width: 95%;
        align-self: auto;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        background: #e6e3e3;
      }
      .container {
        max-width: 50%;
        border-bottom: 10px;
      }
    </style>
    
    <title>Blogging Project</title>
    {{ form.media }}

  </head>
  <body>
    <div class="container">
      {% include "navbar.html" %} 
      {% block content %} {% endblock content %}
      {% comment %} {% include "footer.html" %} {% endcomment %}
    </div>
  </body>


<script >

{% comment %} 
tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
  plugins: 'link',
  menubar: 'insert',
  toolbar: 'link'
});
   {% endcomment %}

    
tinymce.init({
  selector: 'textarea',
  plugins: 'image code link',
  toolbar: 'undo redo | link image | code | link',
  /* enable title field in the Image dialog*/
  image_title: true,
  /* enable automatic uploads of images represented by blob or data URIs*/
  automatic_uploads: true,
  /*
    URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: 'postAcceptor.php',
    here we add custom filepicker only to Image dialog
  */
  file_picker_types: 'image',
  /* and here's our custom image picker*/
  file_picker_callback: function (cb, value, meta) {
    var input = document.createElement('input');
    input.setAttribute('type', 'file');
    input.setAttribute('accept', 'image/*');

    /*
      Note: In modern browsers input[type="file"] is functional without
      even adding it to the DOM, but that might not be the case in some older
      or quirky browsers like IE, so you might want to add it to the DOM
      just in case, and visually hide it. And do not forget do remove it
      once you do not need it anymore.
    */

    input.onchange = function () {
      var file = this.files[0];

      var reader = new FileReader();
      reader.onload = function () {
        /*
          Note: Now we need to register the blob in TinyMCEs image blob
          registry. In the next release this part hopefully won't be
          necessary, as we are looking to handle it internally.
        */
        var id = 'blobid' + (new Date()).getTime();
        var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
        var base64 = reader.result.split(',')[1];
        var blobInfo = blobCache.create(id, file, base64);
        blobCache.add(blobInfo);

        /* call the callback and populate the Title field with the file name */
        cb(blobInfo.blobUri(), { title: file.name });
      };
      reader.readAsDataURL(file);
    };

    input.click();
  },
  content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
});



</script>



</html>
