{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    {% comment %}
    <script src="static//prod_list.js"></script>
    {% endcomment %} {% comment %}
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>

    {% endcomment %}
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.3.4/dist/flowbite.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
    />
    <script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
    <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        /*background-color: rgba(249, 249, 250, 0.795);
         color: White; */
      }
    </style>
    <style>
      body {
        width: 95%;
        align-self: auto;
        align-items: center;
        align-content: center;
        padding-left: 5%;
        background: #e6e3e3;
      }
      .container {
        max-width: 50%;
        border-bottom: 10px;
      }
    </style>
    <title>Blogging Project</title>
  </head>
  <body>
    <div class="container">
      {% include "navbar.html" %} 
      {% block content %} {% endblock content %}
      {% comment %} {% include "footer.html" %} {% endcomment %}
    </div>
  </body>
</html>
